<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kinect.Biometric.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add name="Microsoft.ServiceBus.ConnectionString" connectionString="Endpoint=sb://kinectkiosk.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=70HWgKhSz7XMNNwRiG7zbAPqAlzl/9hkI0B2svJmij8="/>
    <add name="BlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=xlix;AccountKey=9Z3kFTWQfR3lg0N0w/+v+rtS0CUeB6fNZlSKp9lxIAy2tZN7QPxWlRxqziaB+YsUcwhx4S1Db20sWZOkCFgOSQ=="/>

  </connectionStrings>
  <appSettings>
    <add key="TopicName" value="KioskTelemetry"/>
    <add key="PhotoContainer" value="photos"/>

    <!-- Long/Lat coordinates for the Kinect's location-->
    <add key="LocationLongitutde" value="-93.32"/>
    <add key="LocationLatitude" value="44.86"/>

    <!-- Service Bus specific app setings for messaging connections -->
    
    <add key="Azure.Hub.SkeletalHub" value="Endpoint=sb://inceptioningess-ns.servicebus.windows.net/;SharedAccessKeyName=SendPolicy;SharedAccessKey=dgncIvTYT6KrJSPzcfHfEnHswE8SoDxP8g/bnO+SPj8=;EntityPath=telemetry"/>
    <add key="Azure.Hub.Biometric" value="Endpoint=sb://inceptioningess-ns.servicebus.windows.net/;SharedAccessKeyName=SendPolicy;SharedAccessKey=VJrXuJaW60Og5saHUBDm8bdKKceUbq9B39KuRhIa9Ok=;EntityPath=demographics"/>
    <add key="BiometricTelemetryService.OverSamplingThreshold" value="4"/>
    <add key="EventHubMessengerSender.RetryPeriodInSeconds" value="60"/>
    <add key="Demographics.Sampling.Range" value="3.2"/>

  </appSettings>
  <userSettings>
    <Kinect.Biometric.Properties.Settings>
      <setting name="DemographicsSamplingRange" serializeAs="String">
        <value>3.2</value>
      </setting>
      <setting name="DebugImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TempPhotoDirectory" serializeAs="String">
        <value>C:\TEMP\</value>
      </setting>
    </Kinect.Biometric.Properties.Settings>
  </userSettings>
</configuration>
