<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    
    <!--Advanced Body Tracking settings-->
    <!--Missing Body Settings - If a body was last tracked within the area defined by these setting and then disappears, the body will be considered a Missing Body-->
    <add key="MissingBodyLeftEdgeBoundary" value="-0.4" />
    <add key="MissingBodyRightEdgeBoundary" value="0.7" />
    <add key="MissingBodyBackDepthBoundary" value="6069" /> <!--6096 = 20 feet-->    
    <add key="MissingBodyExpiredTimeLimit" value="3" />
    
    <!--If a new body appears within the area defined by these setting, the new body will be considered a candidate for any Missing or Hijacked Bodies-->
    <add key="NewBodyLeftEdgeBoundary" value="0.1" />
    <add key="NewBodyRightEdgeBoundary" value="0.7" />
    <add key="NewBodyBackDepthBoundary" value="6069" />    
    
    <!--Hijacked Body Settings - If a body position jumps greater than the Jump Tolerance setting, the body is a candidate as a hijacked body-->
    <add key="HijackedBodyJumpTolerance" value="0.5" />    
    <!--if a Players movements jump this amount or more, the player is considered a High Velocity Player-->
    <add key="HighVelocityPlayerJumpThreshold" value="2" />
    <!--if a Player is a High Velocity player, the hijacked body jump tolerance is multiplied by this factor-->
    <add key="HighVelocityPlayerJumpMultiplier" value="2" />
    
    <!--Defines the area in which a player will be tracked as the Active Player-->
    <add key="LeftBodySelectionTrackLimit" value="-0.5" />
    <add key="RightBodySelectionTrackLimit" value="0.7" />
    
    <!--If a bodies Z Position is closer to the kiosk than the Active player by this amount or more then this body will become the active player-->
    <add key="SwitchActiveBodyZPositionVariance" value="0.5" />
    <!--To ensure we aren't tracking a Ghost as the Active Player, we'll require this amount of joints (Head, Neck, ShoulderLeft-Right and WristLeft-Right) to be tracked and not inferred-->
    <add key="RequiredJointsTrackedCount" value="8" />

  </appSettings>
</configuration>