<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KAIT.Kiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="KAIT.Kiosk2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <KAIT.Kiosk.Properties.Settings>
            <setting name="KinectCalibration" serializeAs="String">
                <value/>
            </setting>
            <setting name="DemographicsSamplingRange" serializeAs="String">
                <value>3.2</value>
            </setting>
        </KAIT.Kiosk.Properties.Settings>
        <KAIT.Kiosk2.Properties.Settings>
            <setting name="KinectCalibration" serializeAs="String">
                <value/>
            </setting>
        </KAIT.Kiosk2.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <!-- Service Bus specific app setings for messaging connections -->
    <add name="Microsoft.ServiceBus.ConnectionString" connectionString="Endpoint=sb://KAIT.Kiosk.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=70HWgKhSz7XMNNwRiG7zbAPqAlzl/9hkI0B2svJmij8="/>
    <add name="BlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=xlix;AccountKey=9Z3kFTWQfR3lg0N0w/+v+rtS0CUeB6fNZlSKp9lxIAy2tZN7QPxWlRxqziaB+YsUcwhx4S1Db20sWZOkCFgOSQ=="/>
  </connectionStrings>
  <appSettings>
    <!--<add key="PipeName" value="demographics" />-->
    <!--<add key="TopicName" value="kiosktelemetry" />-->
    
    <!--Specify the JSON file containing a pointer to the content directories as we ZONES for the Kiosk-->
    <add key="ConfigFilename" value="config.json"/>
    
    <!--Kiosk Extention Settings-->
    <add key="PhotoContainer" value="photos"/>
    <add key="DownloadRootUrl" value="http://xlix.blob.core.windows.net/photos/"/>
   
    <!--Content Display Setting-->
     <add key="ContentTransitionTime" value="5"/>
    
    <!-- Long/Lat coordinates for the Kinect's location: used by the ASA and PowerBI reporting-->
    <add key="LocationLongitutde" value="-93.349949"/>
    <add key="LocationLatitude" value="44.889687"/>
    
    <!-- Telemetry Collection Settings
    
    Azure connection settings for Event Hubs used by Azure Stream Analtics  -->
    
    
    <add key="Azure.Hub.SkeletalHub" value="Endpoint=sb://inceptioningess-ns.servicebus.windows.net/;SharedAccessKeyName=SendPolicy;SharedAccessKey=Zata04RvZk3y94z2p6dBL2/WVo7FHqSCEXH1TL+9Wq0=;EntityPath=skeletal"/>
    <add key="Azure.Hub.Biometric" value="Endpoint=sb://inceptioningess-ns.servicebus.windows.net/;SharedAccessKeyName=SendPolicy;SharedAccessKey=y/MmCJTBdJ7SlGOYn649mVzAccBk+NNLNJww7e99kGA=;EntityPath=demographics"/>
    <add key="Azure.Hub.Kiosk" value="Endpoint=sb://inceptioningess-ns.servicebus.windows.net/;SharedAccessKeyName=SendPolicy;SharedAccessKey=wFcuCKKB7KEXDQFROWsMqfr987EA5eVTl/qy+owYuHs=;EntityPath=interactions"/>
    
    <!--The app is designed to deal with network connectivity issues this is the setback for retrying the delivery of telemtery-->
    <add key="EventHubMessengerSender.RetryPeriodInSeconds" value="60"/>
    
    <!--BiometricTelemetryService setting indicating how many samples should be taken for a individual before they should be transmitted-->
    <add key="BiometricTelemetryService.OverSamplingThreshold" value="1"/>
    
    <!-- How far away fron the Kinect Sensor should the player be before we attempt to perform Biometric of face recognition processing-->
    <add key="Demographics.Sampling.Range" value="3.2"/>
    
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->

    <!--Advanced Body Tracking settings-->
    <!--Missing Body Settings - If a body was last tracked within the area defined by these setting and then disappears, the body will be considered a Missing Body-->
    <add key="MissingBodyLeftEdgeBoundary" value="-0.4"/>
    <add key="MissingBodyRightEdgeBoundary" value="0.7"/>
    <add key="MissingBodyBackDepthBoundary" value="6069"/>
    <!--6096 = 20 feet-->
    <add key="MissingBodyExpiredTimeLimit" value="3"/>

    <!--If a new body appears within the area defined by these setting, the new body will be considered a candidate for any Missing or Hijacked Bodies-->
    <add key="NewBodyLeftEdgeBoundary" value="0.1"/>
    <add key="NewBodyRightEdgeBoundary" value="0.7"/>
    <add key="NewBodyBackDepthBoundary" value="6069"/>

    <!--Hijacked Body Settings - If a body position jumps greater than the Jump Tolerance setting, the body is a candidate as a hijacked body-->
    <add key="HijackedBodyJumpTolerance" value="0.5"/>
    <!--if a Players movements jump this amount or more, the player is considered a High Velocity Player-->
    <add key="HighVelocityPlayerJumpThreshold" value="2"/>
    <!--if a Player is a High Velocity player, the hijacked body jump tolerance is multiplied by this factor-->
    <add key="HighVelocityPlayerJumpMultiplier" value="2"/>

    <!--Defines the area in which a player will be tracked as the Active Player-->
    <add key="LeftBodySelectionTrackLimit" value="-0.5"/>
    <add key="RightBodySelectionTrackLimit" value="0.7"/>

    <!--If a bodies Z Position is closer to the kiosk than the Active player by this amount or more then this body will become the active player-->
    <add key="SwitchActiveBodyZPositionVariance" value="0.5"/>
    
    <!--To ensure we aren't tracking a Ghost as the Active Player, we'll require this amount of joints (Head, Neck, ShoulderLeft-Right and WristLeft-Right) to be tracked and not inferred-->
    <add key="RequiredJointsTrackedCount" value="6"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
